@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Pridi:600');

label{
    font-size: 25px;
    cursor: text;
}

.container h1{
    margin-top: 5px;
    font-family: 'Pridi', serif;
}

body{
    margin: 0;
	height: 100%;
	background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Bitter', serif;
}

.form{
    border-radius: 10px;
    background-color: beige;
    margin: 0 auto;
    box-shadow: 2px 2px 2px 2px grey;
    padding: 30px;
    width: 400px;
}

.form-control{
    height: 40px;
    border-radius: 15px;
}

.button{
    margin-top: 10px;
    padding: 15px 20px;
    width: 100%;
    font-size: 15px;
    border-radius: 15px;
    transform: translate(0px,-5px);
}

.button:hover{
    color: black;
    background-color: transparent;
    border: 2px solid blue;
}